<a href="https://colab.research.google.com/github/rifatentr/Data-Mining/blob/1028---Trailing-Zeroes-(I)-to-1028---Trailing-Zeroes-(I)/DM_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Decision** **Tree**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Conv2D, Flatten
from tensorflow.keras import layers, models
from sklearn.metrics import accuracy_score

In [ ]:
# load the dataset and assign column names
data = pd.read_csv('/content/lenses.data',sep='\s+',header=None)
data.rename(columns={0:'idd',1:'age',2:'perscription',3:'astigmatic', 4:'tears',5:'lenses'}, inplace=True)
data.head(5)

   idd  age  perscription  astigmatic  tears  lenses
0    1    1             1           1      1       3
1    2    1             1           1      2       2
2    3    1             1           2      1       3
3    4    1             1           2      2       1
4    5    1             2           1      1       3

In [ ]:
data.corr()

,idd,age,perscription,astigmatic,tears,lenses
idd,1.000000,9.436285e-01,2.889260e-01,1.444630e-01,7.223151e-02,0.161804
age,0.943629,1.000000e+00,-7.931816e-17,-1.473052e-16,0.000000e+00,0.200745
perscription,0.288926,-7.931816e-17,1.000000e+00,-7.401487e-17,9.251859e-18,0.163908
astigmatic,0.144463,-1.473052e-16,-7.401487e-17,1.000000e+00,1.850372e-17,-0.163908
tears,0.072232,0.000000e+00,9.251859e-18,1.850372e-17,1.000000e+00,-0.710266
lenses,0.161804,2.007449e-01,1.639075e-01,-1.639075e-01,-7.102659e-01,1.000000

In [ ]:
X = data.drop(["lenses","idd"], axis=1).values
Y = data["lenses"].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)
X_train.shape
X_train

array([[1, 1, 2, 1],
       [3, 1, 2, 2],
       [1, 2, 2, 1],
       [1, 2, 2, 2],
       [3, 2, 1, 2],
       [1, 1, 1, 2],
       [3, 1, 1, 1],
       [1, 1, 1, 1],
       [2, 2, 2, 2],
       [3, 2, 2, 2],
       [3, 2, 2, 1],
       [2, 1, 1, 2],
       [2, 1, 1, 1],
       [2, 2, 1, 1],
       [2, 1, 2, 2],
       [1, 2, 1, 2]])

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(criterion="gini") 
tree.fit(X_train, Y_train)

y_pred_train = tree.predict(X_train)
y_pred = tree.predict(X_test)# this is the predictive model

accuracy_train = accuracy_score(Y_train, y_pred_train)
accuracy_test = accuracy_score(Y_test, y_pred)

print("ACCURACY: TRAIN=%.4f TEST=%.4f" % (accuracy_train,accuracy_test))

ACCURACY: TRAIN=1.0000 TEST=0.8750

**K-Nearest** **Neighbors**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.predict(X_test[7].reshape(1,-1))

array([3])

In [ ]:
prediction = []
for i in range(8):
    p = knn.predict(X_test[i].reshape(1,-1))
    prediction.append(p[0])

In [ ]:
(Y_test[:30] == prediction).sum()/len(prediction)

0.875